extends layout

block content
	h1= title
	p Welcome to #{title}
	input#input(type="text",placeholder="请输入昵称")
	#submit 确定
	#levels
		#normalModule 传统模式
		#randomModule 随机模式
		ul.levellMap.dn
	#mainBox.dn
		#mainUl.mainUl