doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name='viewport', content='initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=yes, width=device-width')
		link(rel='stylesheet', type='text/css', href='/stylesheets/base.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/page.css')
		script(type='text/javascript', src='/javascripts/jquery.js')
		script(type='text/javascript', src='/javascripts/cut_new.js')
		script(type='text/javascript', src='/javascripts/index.js')
	body
		.back 返回
		block content