body{ padding: 50px;}
#mainBox{width: 100%; background: url(../images/bg.png);}
.mainUl{position: relative;}
.mainUl li{position: absolute;background-image: url(../images/btnRGBSmall.png); background-repeat: no-repeat; background-size: 100%; background-position: -100% -100%;}
.mainUl li span {width: 100%; display: block; cursor: pointer;background-image: url(../images/btnRGBSmall.png); background-repeat: no-repeat; background-size: 100%;}
.mainUl li span.c0{background-position: 0 -0.1%;}
.mainUl li span.c1{background-position: 0 19.9%;}
.mainUl li span.c2{background-position: 0 39.6%;}
.mainUl li span.c3{background-position: 0 59.3%;}
.mainUl li span.c4{background-position: 0 79%;}
.mainUl li.fork{background-position: 0 -875px;}
.mainUl li.active{background-position: 0 90.9%;}


.levelMap .mapLi{border-radius: 999px; background: #bbbbbb;  display: inline-block; *display: inline; *zoom: 1; width: 40px;
    height: 40px; text-align: center; line-height: 40px;}


/*
* UI 界面
*/
.title1 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}
#input {
    border: none;
    outline: none;
    font-size: 28px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.user-infor {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.btn-module{
    width: 30%;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    margin: 30px auto 20px;
    border: 2px solid hsla(60,50%,80%,.8);
    background-image: radial-gradient(50px circle,hsla(220,89%,100%,.1),hsla(30,60%,60%,1));
}

.dialog-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
}
.dialog{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    min-width: 450px;
    min-height: 320px;
    border: 3px solid #ffeeff;
    border-radius: 4px;
    background-color: #fff;
    -webkit-animation: dialogScale .3s;
    animation: dialogScale .3s;
}
@-webkit-keyframes dialogScale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.dialog-bg .ref{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 0;
    height: 100%;
    vertical-align: middle;
}