html,body,#mainBox{height: 100%;}
#mainBox{width: 100%; background: url(../images/bg.png);}
.mainUl{position: relative;}
.mainUl li{position: absolute;background-image: url(../images/btnRGBSmall.png); background-repeat: no-repeat; background-size: 100%; background-position: -100% -100%;}
.mainUl li span {width: 100%; display: block; cursor: pointer;background-image: url(../images/btnRGBSmall.png); background-repeat: no-repeat; background-size: 100%;}
.mainUl li span.c0{background-position: 0 -0.1%;}
.mainUl li span.c1{background-position: 0 19.9%;}
.mainUl li span.c2{background-position: 0 39.6%;}
.mainUl li span.c3{background-position: 0 59.3%;}
.mainUl li span.c4{background-position: 0 79%;}
.mainUl li.fork{background-position: 0 -875px;}
.mainUl li.active{background-position: 0 90.9%;}


.levelMap .mapLi{border-radius: 999px; background: #bbbbbb;  display: inline-block; *display: inline; *zoom: 1; width: 40px;
    height: 40px; text-align: center; line-height: 40px;}